.sidebar{
    position: fixed;
    top:0;
    left:0;
    width: 243px;
    background-color:rgb(78,115,223);
    height: 100vh;
   padding: 15px;
}

ul{
    list-style: none;
}

@media screen and (max-width: 960px) {
    .sidebar{
        display: none;
    }
    .sidebar_open{
        position: fixed;
        top:0;
        left:0;
        width: 243px;
        background-color:rgb(78,115,223);
        height: 100vh;
       padding: 15px;
    }
}